.app-wrapper {
    margin: 0 auto;
    /*width: 600px;*/
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 70px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-gap: 10px;  /* distance between elements */
}