.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: chocolate;
}

.dialog {
    padding: 10px;
}

.messagesStyle {
    padding: 10px;

}

.message {
    padding: 10px;
}

.ava_dialog {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
}